- http://aicip.eecs.utk.edu/wiki/UTKFace

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

from pathlib import Path

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

def show_dct(dct, n=3):
    return list(dct.items())[:n]

In [2]:
from fastai import *
from fastai.vision import *

In [3]:
pdata = Path('/data/utkface/')

In [4]:
# fns = list(pdata.glob('UTKface_inthewild/part*/*.jpg'))

fns = list(pdata.glob('UTKface_Aligned_cropped/UTKFace/*.jpg'))

len(fns)

23708

remove files with bad format

In [5]:
fns = [fn for fn in fns if len(str(fn).split('/')[-1].split('_'))==4 and '__' not in str(fn)]
len(fns)

23705

In [6]:
i2fn = fns
fn2i = {fn:i for i,fn in enumerate(i2fn)}

bs_fns = [os.path.basename(o) for o in fns]

`[age]` is an integer from 0 to 116, indicating the age
`[gender]` is either 0 (male) or 1 (female)
`[race]` is an integer from 0 to 4, denoting White, Black, Asian, Indian, and Others (like Hispanic, Latino, Middle Eastern).

In [7]:
i2age, i2gender, i2race = zip(*[bs_fn.split('_')[:3] for bs_fn in bs_fns])

i2age = [int(o) for o in i2age]

In [8]:
o2gender = {'0': 'm', '1': 'f'}
i2gender = [o2gender[o] for o in i2gender]

Counter(i2gender)

Counter({'f': 11314, 'm': 12391})

In [9]:
o2race = dict(list(enumerate(('White', 'Black', 'Asian', 'Indian', 'Others'))))
i2race = [o2race[int(o)] for o in i2race]

Counter(i2race).most_common()

[('White', 10078),
 ('Black', 4526),
 ('Indian', 3975),
 ('Asian', 3434),
 ('Others', 1692)]

In [ ]:
fn = np.random.choice(fns)
i = fn2i[fn]
print(f'age: {i2age[i]}, gender: {i2gender[i]}, race: {i2race[i]}')
open_image(fn)

In [11]:
df = pd.DataFrame({'img_name': i2fn, 'age': i2age, 'gender': i2gender, 'race': i2race})

df.shape

(23705, 4)

In [12]:
df['is_train'] = np.random.choice(2, size=len(df), p=[0.2, 0.8])

In [13]:
df.head()

,img_name,age,gender,race,is_train
0,/data/utkface/UTKface_Aligned_cropped/UTKFace/...,35,f,White,1
1,/data/utkface/UTKface_Aligned_cropped/UTKFace/...,30,m,White,1
2,/data/utkface/UTKface_Aligned_cropped/UTKFace/...,18,f,White,1
3,/data/utkface/UTKface_Aligned_cropped/UTKFace/...,26,f,White,0
4,/data/utkface/UTKface_Aligned_cropped/UTKFace/...,36,f,White,1

In [14]:
df.to_csv('img2targets.csv', index=False)

In [ ]:
i = np.random.choice(len(df))
dfi = df.iloc[i]

print(f'age: {dfi["age"]}, gender: {dfi["gender"]}, race: {dfi["race"]}')
open_image(dfi["img_name"])